<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>servlets.UsersServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>References</servlet-name>
        <servlet-class>servlets.ReferencesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Comments</servlet-name>
        <servlet-class>servlets.CommentsServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/api/users</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>References</servlet-name>
        <url-pattern>/api/references</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Comments</servlet-name>
        <url-pattern>/api/comments</url-pattern>
    </servlet-mapping>

</web-app>
